@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hipe-blue: #0055FF;
  --hipe-black: #000000;
  --hipe-white: #FFFFFF;
}

html, body {
  background: #ffffff;
  color: #000000;
}

.brutal-shadow {
  box-shadow: 6px 6px 0 0 #000;
}
.brutal-shadow-sm {
  box-shadow: 4px 4px 0 0 #000;
}
.brutal-shadow-blue {
  box-shadow: 6px 6px 0 0 #0055FF;
}
